<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}<aside class="bcls-aside bcls-aside--information"> REMARQUE
description: Dans cette rubrique, certaines des étapes sont effectuées dans Beacon Classic. </aside>{% endif %} <section class="bcls-section">
    <h2 id="Overview">Aperçu</h2>
    <p>Pour créer une configuration de publication, vous devez procéder comme suit:</p>
    <ul>
      <li>Obtenez l'URL du serveur de balises publicitaires auprès de votre fournisseur de services publicitaires. Il sera utilisé dans Video Cloud Studio pour créer votre configuration publicitaire SSAI.</li>
      <li>Dans Video Cloud Studio, créez votre configuration publicitaire SSAI. À la fin de la tâche, vous allez copier l'ID du serveur publicitaire pour créer la configuration de votre publicité dans Beacon Classic.</li>
      <li>Dans Beacon Classic, créez votre configuration publicitaire, que vous pourrez ensuite appliquer à votre contenu vidéo.</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="section-name">Créer un SSAI et un ID de configuration</h2>
    <p>Suivez ces étapes pour créer une configuration publicitaire SSAI:</p>
    <ol class="bcls-tasklist-restart">
      <li>Dans {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} Studio {% elsif site.product_short == Beacon Classic-fr/ %} Video Cloud Studio {% endif %}, accédez à<strong> Admin â†' Paramètres des publicités côté serveur</strong>.</li>
      <li>
        Dans le menu<span class="blue-button"> déroulant</span> Create Ad Configuration, sélectionnez<strong> VOD</strong> <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/create-vod-ad-config.png" alt="Créer une configuration de publicité VOD"> <figcaption class="bcls-caption--image">Créer une configuration de publicité VOD</figcaption> </figure>
      </li>
      <li>Ajoutez un nom pour la configuration de l'annonce. <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/ssai-config-vod.png" alt="VOD de configuration SSAI"> <figcaption class="bcls-caption--image">VOD de configuration SSAI</figcaption> </figure>
      </li>
      <li>Sélectionnez la réponse à votre annonce. VMAP ou VAST est recommandé. Si vous utilisez VAST, vous devrez ajouter des points de repère aux vidéos pour spécifier où les coupures de publicité doivent apparaître.</li>
      <li>Collez votre balise publicitaire.</li>
      <li>Cliquez sur<strong> Enregistrer</strong>.</li>
      <li>Recherchez la nouvelle configuration de votre annonce dans le tableau et copiez l'ID de configuration de votre annonce. Vous aurez besoin de cette valeur pour la configuration de la publicité Beacon. <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/copy-ad-config-id.png" alt="Copier l'ID de configuration"> <figcaption class="bcls-caption--image">Copier l'ID de configuration d'annonce</figcaption> </figure>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Advertisement">Création d'une configuration de publication</h2>
    <p>Pour créer une configuration de publication, procédez comme suit:</p>
    <ol class="bcls-tasklist">
      <li>Dans Beacon Classic, dans le menu de navigation supérieur, sélectionnez<strong> Publicité</strong>. <figure class="bcls-figure"> <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/new-advertisement.png" alt="Nouvelle publicité" /> <figcaption class="bcls-caption--image">Nouvelle publicité</figcaption> </figure>
      </li>
      <li>
        Cliquez sur<span class="button-teal"> Ajouter une nouvelle configuration</span>.
      </li>
      <li>Donnez un nom à la configuration publicitaire.</li> <figure class="bcls-figure">
        <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/advertising-configuration.png" alt="Configuration des annonces Beacon en direct"> <figcaption class="bcls-caption--image">Configuration des annonces Beacon en direct</figcaption> </figure>
      <li>Pour le<strong> fournisseur,</strong> sélectionnez<strong> Brightcove SSAI</strong></li>
      <li>Collez l'ID de configuration publicitaire<strong> SSAI</strong> copié dans les étapes ci-dessus dans l'ID de configuration de la publicité<strong> VOD</strong>.</li>
      <li>Cliquez sur<span class="button-teal"> Créer une nouvelle annonce</span>.</li>
    </ol>  </section></article>