<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <aside class="bcls-aside bcls-aside--information"> REMARQUE
description: Dans cette rubrique, certaines des étapes sont effectuées dans Video Cloud Studio et d'autres dans Beacon Classic.</aside> <section class="bcls-section">
    <h2 id="overview">Aperçu</h2>
    <p>Les publicités côté serveur sont intégrées au flux vidéo afin qu'elles ne puissent pas être bloquées par les bloqueurs de publicités du navigateur. Il fonctionne à la fois avec du contenu protégé par DRM et non protégé. Brightcove Beacon prend en charge la VOD avec SSAI.</p>
    <p>Voici les étapes à suivre pour ajouter des publicités côté serveur:</p>
    <ol>
      <li>Dans {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} Studio {% elsif site.product_short == Beacon Classic-fr/ %} Video Cloud Studio {% endif %},<a href="#Creating_an_ad_configuration"> créez une configuration publicitaire.</a></li>
      <li>Dans {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} Studio {% elsif site.product_short == Beacon Classic-fr/ %} Video Cloud Studio {% endif %},<a href="#Setting_custom_field_values"> définissez les valeurs de champ personnalisées</a> pour votre vidéo.</li>
      <li>Dans {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} Studio {% elsif site.product_short == Beacon Classic-fr/ %} Video Cloud Studio {% endif %},<a href="#Adding_videos_to_a_Playlist"> ajoutez votre vidéo à une playlist</a>.</li>
      <li>Dans {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} Studio {% elsif site.product_short == Beacon Classic-fr/ %} Video Cloud Studio {% endif %},<a href="#Importing_videos_and_playlists"> importez vos vidéos et playlists</a>, puis définissez la publicité options.</li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Best_practices">Bonnes pratiques</h2>
    <p>Brightcove recommande de suivre ces bonnes pratiques lorsque vous ajoutez des publicités côté serveur au contenu VOD:</p>
    <ul>
      <li>Créez votre configuration publicitaire dans Video Cloud Studio.</li>
      <li>Attribuez la configuration publicitaire aux vidéos à l'aide des champs personnalisés de Video Cloud Studio.</li>
      <li>Utilisez uniquement la<strong> section</strong> Publicité de Brightcove Beacon pour les événements en direct et les chaînes.</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="Creating_an_ad_configuration">Création d'une configuration publicitaire</h2>
    <p>
      Ici, vous allez créer une configuration publicitaire SSAI pour définir les publicités affichées dans votre ressource VOD Brightcove Beacon.
    </p>
    <ol class="bcls-tasklist-restart">
      <li>Connectez-vous à {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} Studio {% elsif site.product_short == Beacon Classic-fr/ %} Video Cloud Studio {% endif %}.</li>
      <li>
        Dans la navigation principale, cliquez sur<strong> Admin</strong> et sélectionnez Paramètres des publicités<strong> côté serveur</strong>. Une liste de toutes les configurations d'annonces s'affiche. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/live-ssai/1-studio-ssai-settings.png" /> </figure>
      </li>
      <li>
        Pour créer une nouvelle configuration publicitaire, cliquez sur<strong> Créer une configuration publicitaire.</strong> <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/live-ssai/2-create-ad-configuration.png" /> </figure>
      </li>
      <li>
        Dans le menu déroulant, sélectionnez<strong> VOD</strong> comme type. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/select-vod.png" /> </figure>
      </li>
      <li>
        Vérifiez que le<strong> formulaire Paramètres des publicités</strong> côté serveur s'affiche. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/vod-ad-form.png" /> </figure>
      </li>
      <li>Donnez un<strong> nom à la configuration de votre annonce</strong>.</li>
      <li>
        Sélectionnez la réponse du serveur<strong> publicitaire</strong>: <table class="bcls-table">
          <thead class="bcls-table__head">
            <tr>
              <th>Réponse du serveur publicitaire</th>
              <th>Détails</th>
            </tr>
          </thead>
          <tbody class="bcls-table__body">
            <tr>
              <td><strong>VASTE 3.0</strong></td>
              <td><a href="https://www.iab.com/guidelines/vast/">Modèle de diffusion d'annonces vidéo numériques</a></td>
            </tr>
            <tr>
              <td><strong>VMAP</strong></td>
              <td><a href="https://www.iab.com/guidelines/vmap/">Liste de lecteur de plusieurs annonces vidéo</a></td>
            </tr>
            <tr>
              <td><strong>DFP (règles publicitaires)</strong></td>
              <td><a href="https://www.google.com/ads/publisher/#?modal_active=none">Format propriétaire pour DFP/Google for Publishers</a></td>
            </tr>
            <tr>
              <td><strong>XML intelligent</strong></td>
              <td><a href="https://www.freewheel.com/">Format propriétaire pour FreeWheel</a></td>
            </tr>
          </tbody>
        </table>
        <br /> <aside class="bcls-aside bcls-aside--information"> Vérifiez auprès de votre responsable des opérations publicitaires la valeur correcte à sélectionner. </aside>
      </li>
      <li>Saisissez le tag<strong> publicitaire (URL du serveur)</strong>.</li>
      <li>Cliquez sur<strong> Enregistrer</strong>.</li>
      <li>
        Copiez l'ID de votre configuration publicitaire, car vous en aurez besoin ultérieurement pour configurer votre contenu VOD. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/copy-ad-id.png" /> </figure>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Setting_custom_field_values">Définition de valeurs de champ personnalisées</h2> <aside class="bcls-aside bcls-aside--information">Remarque
description: Cette section utilise les champs personnalisés de gestion des droits Video Cloud. Consultez le<a href="/monetization/general/vc-custom-fields.html"> document Champs</a> personnalisés pour la monétisation pour plus d'informations sur la création et l'utilisation des champs personnalisés de gestion des droits.</aside>
    <p>Dans cette section, vous apprendrez à configurer votre ressource VOD avec les paramètres nécessaires pour afficher le SSAI dans vos applications Brightcove Beacon.</p>
    <ol class="bcls-tasklist-restart">
      <li>
        Dans la navigation principale, cliquez sur<strong> Media.</strong> <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/studio-home-media.png" /> </figure>
      </li>
      <li>
        Cliquez sur la vidéo à laquelle vous souhaitez ajouter SSAI. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/select-your-video.png" /> </figure>
      </li>
      <li>Faites défiler vers le bas jusqu'à la<strong> section Champs</strong> personnalisés.</li>
      <li>
        Cliquez sur<strong> Modifier.</strong> <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/custom-fields-edit.png" /> </figure>
      </li>
      <li>
        Faites défiler vers le bas et localisez le<strong> champ</strong> Beacon.Rights.0.adConfiguration, puis collez l'ID de la configuration publicitaire que vous avez créée précédemment. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-ad-id.png" /> </figure>
      </li>
      <li>
        Continuez à faire défiler vers le bas et dans le<strong> champ</strong> beacon.rights.0.type, écrivez<strong> AVOD</strong> pour classer cette VOD en tant que VOD publicitaire. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-ad-rights.png" /> </figure>
      </li>
      <li> Cliquez sur<strong> Enregistrer.</strong> <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" width="200" height="200" src="/assets/images/s-monetization-img/vod-ssai/save-button.png" /> </figure> <aside class="bcls-aside bcls-aside--information">Par défaut, vous pouvez ajouter jusqu'à 3 configurations d'ID SSAI et de type dans la<strong> section Champs</strong> personnalisés.</aside>
      </li>
      <li>
        Dans le menu supérieur, cliquez sur<strong> Retour aux vidéos</strong>. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/back-to-videos.png" /> </figure>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Adding_videos_to_a_Playlist">Ajout de vidéos à une liste de lecteur</h2>
    <p>Dans cette section, vous allez ajouter votre contenu VOD à une liste de lecteur.</p>
    <ol class="bcls-tasklist-restart">
      <li>
        Dans {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} Studio {% elsif site.product_short == Beacon Classic-fr/ %} Video Cloud Studio {% endif %}, cliquez sur<strong> Média.</strong>
      </li>
      <li>
        Cochez la case correspondant à votre vidéo. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/add-to-playlist.png" /> </figure>
      </li>
      <li>Cliquez sur<strong> Plus</strong>.</li>
      <li>Cliquez sur<strong> Ajouter à la playlist</strong>. <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/add-more.png" /> </figure>
      </li>
      <li>
        Sélectionnez la liste de lecteur à laquelle vous souhaitez ajouter votre vidéo. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/add-button.png" /> </figure>
      </li>
      <li>Cliquez sur<strong> Ajouter.</strong></li>
      <li>Une fois que votre ressource VOD a été ajoutée à la liste de lecteur, accédez à la plateforme Brightcove Beacon.</li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Importing_videos_and_playlists">Importer des vidéos et des playlists</h2>
    <p>Dans Brightcove Beacon, vous pouvez ingérer/importer des vidéos et des listes de lecteur depuis Video Cloud.</p>
    <ol class="bcls-tasklist-restart">
      <li>Connectez-vous à votre Beacon Classic.</li>
      <li>Dans le menu supérieur, sélectionnez<strong> Outils</strong>, qui est l'icône représentant une clé à molette. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/ingest-videos.jpg" /> </figure>
      </li>
      <li>Dans le volet de navigation de gauche, sélectionnez<strong> Ingestion</strong>.</li>
      <li>
        Cliquez sur<strong> Mettre à jour les vidéos Brightcove</strong> et/ou sur<strong> Mettre à jour les listes de lecteur</strong>
      </li>
      <li>Vos vidéos et listes de lecteur de Video Cloud devraient désormais se trouver dans Brightcove Beacon. Dans le menu supérieur, cliquez sur l'<strong>onglet</strong> Playlists.</li>
      <li>
        Sélectionnez votre playlist pour voir les vidéos qu'elle contient. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/select-playlist.png" /> </figure>
      </li>
      <li>
        Vérifiez que vous pouvez voir tous les contenus VOD associés à cette liste de lecteur dans la table des matières de gauche. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-content-section.png" /> </figure>
      </li>
      <li>Dans le menu supérieur de Brightcove Beacon, cliquez sur l'<strong>onglet</strong> Films.</li>
      <li>
        Cliquez sur votre actif VOD. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-movies.png" /> </figure>
      </li>
      <li>
        Cliquez sur l'<strong>onglet</strong> Droits et planification. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-vod-settings.png" /> </figure>
      </li>
      <li>Dans le<strong> menu Type de</strong> droits, vous devriez voir<strong> Publicité - AVOD</strong> sélectionné.</li>
      <li>Dans le<strong> menu Configuration de la</strong> publication, vous devriez voir l'identifiant de configuration de l'annonce que vous avez créé précédemment.</li>
      <li>
        Pour voir immédiatement vos vidéos dans votre application, vous devez vider le cache. Dans le menu supérieur, cliquez sur le bouton<strong> Outils</strong> (clé à molette), puis effacez le cache. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/live-ssai/18-clear-cache.png" /> </figure>
      </li>
      <li>Dans le volet de navigation de gauche, sélectionnez<strong> Cache</strong>.</li>
      <li>Cliquez sur le<strong> bouton Purger le</strong> cache.</li>
      <li>
        Ouvrez votre application Brightcove Beacon et cliquez sur l'<strong>onglet</strong> Page sur lequel votre liste de lecteur a été ajoutée. (Tous les noms d'événements et les photos sur l'image ne sont fournis qu'à titre d'exemple). <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-app.png" /> </figure> <aside class="bcls-aside bcls-aside--information"> Pour visualiser votre liste de lecteur dans l'application Brightcove Beacon, vous devez d'abord l'avoir ajoutée à une page Brightcove Beacon. Pour en savoir plus sur l'ajout d'une liste de lecteur à une Page, veuillez consulter la<a href="https://beacon.support.brightcove.com/using-brightcove-beacon/adding-to-page.html" target="_blank"> documentation suivante</a>. </aside>
      </li>
      <li>Cliquez sur le film que vous avez configuré avec des publicités côté serveur.</li>
      <li>
        Cliquez sur le<strong> bouton</strong> Lire et vous devriez voir votre vidéo diffusée avec des publicités. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/play-beacon-app.png" /> </figure>
      </li>
    </ol> </section>
  <!-- <section class="bcls-section">
 <h2 id="configuring-vod-beacon">Configuring your VOD asset in Brightcove Beacon</h2> <p>In this section you will learn how to configure your VOD with SSAI asset in Brightcove Beacon.</p> <ol class="bcls-tasklist-restart">
 <li>In the Brightcove Beacon top menu, click the <strong>Playlists</strong> tab.</li> <li>
 Select your playlist to see the videos it contains.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/select-playlist.png" /> </figure>
 </li>
 <li>
 Check to be sure you can see all the VOD assets associated with that playlist in the left table of contents.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-content-section.png" /> </figure>
 </li>
 <li>In the Brightcove Beacon top menu, click in the <strong>Movies</strong> tab.</li> <li>
 Click on your VOD asset.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-movies.png" /> </figure>
 </li>
 <li>
 Click the <strong>Rights & Scheduling</strong> tab.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-vod-settings.png" /> </figure>
 </li>
 <li>In the <strong>Rights Type</strong> menu, select <strong>Advertising - AVOD</strong>.</li> <li>In the <strong>Advertisement Configuration</strong> bottom menu, select your previously created Advertisement configuration.</li> <li>Click the <strong>Update Event</strong> button to save your changes.</li> <li>
 Click on the <strong>Tools</strong> (wrench) button in the upper right of the screen, then clear the cache.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/live-ssai/18-clear-cache.png" /> </figure>
 </li>
 <li>
 Open your Brightcove Beacon App and click in the <strong>Page</strong> tab on which your playlist was added. (All the event names and pictures on the image are for example purposes only).
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-app.png" /> </figure>
 <aside class="bcls-aside bcls-aside--information"> To visualize your Playlist in the Brightcove Beacon App, you must have added your playlist to a Brightcove Beacon Page first. To know more about how to add a playlist to a Page please visit the following <a href="https://beacon.support.brightcove.com/using-brightcove-beacon/adding-to-page.html" target="_blank">documentation</a>.
 </aside>
 </li>
 <li>Click your VOD with SSAI asset you configured.</li> <li>
 Click the <strong>Play</strong> button and you should now be able to see your video play with ads.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" width="400" height="400" src="/assets/images/s-monetization-img/vod-ssai/play-beacon-app.png" /> </figure>
 </li>
 </ol>
 </section> --> </article>