<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="Overview">Aperçu</h2>
    <p>
      Un plan SVOD définit comment les clients de vos applications peuvent acheter un ensemble de vidéos particulier. Le plan de SVOD doit être créé dans Brightcove Beacon et est détaillé dans le<a href="/monetization/general/creating-svod-plan.html"> document</a> Création d'un plan SVOD. Les champs personnalisés Video Cloud créés pour les vidéos d'un compte Video Cloud, comme détaillé dans le<a href="/monetization/general/vc-custom-fields.html"> document</a> Création de champs personnalisés Video Cloud, sont également essentiels à l'utilisation du plan SVOD. Plus précisément, les champs<a href="/monetization/general/vc-custom-fields.html#Rights_Management_fields"> Rights Management</a> seront utilisés.
    </p>  </section><section class="bcls-section">
    <h2 id="Understanding_the_rights_management_custom_fields"> Comprendre les champs personnalisés de gestion des droits </h2>
    <p>Les champs personnalisés de gestion des droits sont les suivants:</p>
    <ul>
      <li>beacon.droits.&lt;compteur &gt; .type</li>
      <li>beacon.droits.&lt;Compteur &gt;. Date de début</li>
      <li>beacon.droits.&lt;Compteur &gt;. Date de fin</li>
      <li>beacon.droits.&lt;compteur &gt; .devices</li>
      <li>beacon.droits.&lt;Comptoir &gt;. Permis d'emplacements</li>
      <li>beacon.droits.&lt;Compteur&gt;.locationsDeny</li>
      <li>beacon.droits.&lt;Compteur&gt;.packagename</li>
      <li>beacon.droits.&lt;Compteur&gt;Configuration .ad</li>
    </ul>
    <p>
      Considérez d'abord la<strong> partie </strong>&lt;compteur&gt; de chaque nom. Ceci est inclus car vous souhaiterez peut-être créer plusieurs ensembles de champs de gestion des droits, et le <strong>&lt;compteur&gt;</strong> est utilisé afin que vous puissiez utiliser la syntaxe de type tableau pour regrouper les champs associés.
    </p>
    <p>
      Par exemple, supposons que vous souhaitiez créer des plans de SVOD pendant les vacances et proposer des forfaits pour:
    </p>
    <ul>
      <li>Journée de la Terre</li>
      <li>Journée Arbor</li>
      <li>Nouvel An</li>
    </ul>
    <p>
      Vous devez accéder à Video Cloud et créer trois ensembles de champs de gestion des droits, en utilisant des valeurs de compteur de 0 à 2 (ou de 1 à 3 si vous préférez) qui apparaîtraient comme indiqué ici:
    </p> <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/index-of-rights-fields.png" alt="index des champs de droits" /> </figure>
    <p>
      En résumé, pour chaque package que vous souhaitez utiliser, vous devrez créer un ensemble compteur-fr/ de champs de gestion des droits.
    </p>  </section><section class="bcls-section">
    <h2 id="Package_and_custom_field_similar_rights"> Droits similaires sur les packages et les champs personnalisés </h2>
    <p>
      Certains champs personnalisés auxquels vous pouvez attribuer des données et que vous avez appliqués à une vidéo lors de l'acquisition peuvent ressembler à des champs de formulaire lors de la création de votre package dans Brightcove Beacon. Par exemple, le champ personnalisé<em> beacon.rights.&lt;Counter&gt;.locationsDeny</em> et le champ de<strong> formulaire Emplacements</strong> refusés du package peuvent sembler être en conflit. N'oubliez pas que lorsque l'on considère ces conflits-fr/, deux questions différentes se posent, à savoir: </p>
    <ul>
      <li>Les droits sur la vidéo permettent-ils de la lire&nbsp;?</li>
      <li>Un utilisateur est-il autorisé à s'abonner au package&nbsp;?</li>
    </ul>
    <p>
      Envisagez ces scénarios:
    </p>
    <ul>
      <li>
        Une date de fin dans<em> beacon.rights.&lt;Le champ</em> personnalisé Counter&gt;.endDate est postérieur à la date de fin du package lui-même. Cela signifie que les droits de la vidéo lui permettraient d'être visionnée jusqu'à la date de fin du champ personnalisé, mais que l'utilisateur ne pouvait pas s'abonner au package qui aurait pu, par exemple, réduire le coût de visionnage de la vidéo.
      </li>
      <li>
        Un package est créé avec des emplacements autorisés aux États-Unis, au Canada et au Mexique, et ce package est affecté à la vidéo dans le champ personnalisé<em> beacon.rights.&lt;Compteur&gt;.packageName</em>. Toujours dans les champs personnalisés de la vidéo, UK est placé dans<em> beacon.rights.&lt;Counter&gt;.locationPermit champ</em> personnalisé. Le package est attribué à la vidéo, mais il ne peut pas être acheté au Royaume-Uni. La vidéo pourrait être lue au Royaume-Uni, mais elle ne pourrait pas faire partie du package pour un client britannique.
      </li>
      <li>
        Un package est créé avec des emplacements autorisés aux États-Unis, au Canada et au Mexique. Dans les champs personnalisés, les États-Unis et le Canada sont ajoutés dans le<em> beacon.rights de la vidéo.&lt;Counter&gt;.locationsDeny champ</em> personnalisé. Ici, les clients aux États-Unis, au Canada et au Mexique peuvent s'abonner au forfait, mais la vidéo spécifique dans laquelle les États-Unis et le Canada se voient refuser des emplacements signifie que la vidéo ne peut pas être visionnée par les clients de ces emplacements, même si la vidéo se trouve dans le package.
      </li>
    </ul>  </section><section class="bcls-section">
    <h2 id="Subscription_interval_support"> Support des intervalles d'abonnement
    </h2>
    <p>
      Le tableau suivant présente les intervalles de temps pris en charge pour les abonnements récurrents pour chaque boutique: </p>
    <table class="bcls-table">
      <!-- <caption class="bcls-caption--table">Table Caption (optional <strong><caption class="bcls-caption--table"></strong>)</caption> -->
      <thead class="bcls-table__head">
        <tr>
          <th>Intervalle de temps</th>
          <th>Apple Store</th>
          <th>Google Play Store</th>
          <th>Boutique Roku</th>
          <th>Boutique Amazon</th>
          <th>Rayures</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td>1 semaine</td>
          <td>Oui</td>
          <td>Oui</td>
          <td></td>
          <td>Oui</td>
          <td>Oui</td>
        </tr>
        <tr>
          <td>1 mois</td>
          <td>Oui</td>
          <td>Oui</td>
          <td>Oui</td>
          <td>Oui</td>
          <td>Oui</td>
        </tr>
        <tr>
          <td>3 mois</td>
          <td>Oui</td>
          <td>Oui</td>
          <td></td>
          <td>Oui</td>
          <td>Oui</td>
        </tr>
        <tr>
          <td>6 mois</td>
          <td>Oui</td>
          <td>Oui</td>
          <td></td>
          <td>Oui</td>
          <td>Oui</td>
        </tr>
        <tr>
          <td>1 an</td>
          <td>Oui</td>
          <td>Oui</td>
          <td>Oui</td>
          <td>Oui</td>
          <td>Oui</td>
        </tr>
      </tbody>
    </table>  </section><section class="bcls-section">
    <h2 id="Assigning_a_single_video_to_a_package"> Attribution d'une seule vidéo à un package
    </h2>
    <p>
      Pour attribuer une seule vidéo à un package, vous devez utiliser Video Cloud Studio. Effectuez les étapes suivantes:
    </p>
    <ol class="bcls-tasklist">
      <li>Dans Studio, accédez au<strong> module</strong> Médias.</li>
      <li>
        Cliquez sur le titre de la vidéo que vous ajoutez au package pour voir ses propriétés.
      </li>
      <li>
        Faites défiler vers le bas jusqu'à ce que vous voyiez la<strong> section Champs</strong> personnalisés sur le côté droit, puis cliquez sur le<strong> bouton</strong> Modifier. <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/single-video-edit-fields.png" alt="index des champs de droits" /> </figure>
      </li>
      <li>
        Placez le nom du plan de SVOD créé dans Brightcove Beacon dans<code translate="No"> beacon.rights.&lt;</code>Champ Counter&gt;.packageName.
      </li>
      <li>
        Puisque vous utilisez un package, vous DEVEZ définir<code translate="No"> beacon.rights.&lt;counter&gt; .type</code> vers<strong> SVOD</strong>. <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/custom-fields.png" alt="index des champs de droits" /> </figure>
      </li>
      <li>
        Faites défiler la liste des champs personnalisés vers le bas et cliquez sur le<strong> bouton</strong> Enregistrer.
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Assigning_a_single_video_to_a_package"> Attribution de plusieurs vidéos à un package </h2>
    <p>
      Pour attribuer plusieurs vidéos à un package, vous devez utiliser Video Cloud Studio. La capture d'écran suivante est utile lors de l'exécution des étapes: <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/multiple-video-edit.png" alt="index des champs de droits" /> </figure>
    </p>
    <ol class="bcls-tasklist-restart">
      <li>
        Dans Studio, accédez au<strong> module</strong> Médias et cochez la case en regard de chaque vidéo que vous souhaitez ajouter au package.
      </li>
      <li>Cliquez sur le<strong> bouton</strong> Quick Edit.</li>
      <li>
        La<strong> section</strong> Quick Edit apparaît sur le côté droit de l'écran, et vous pouvez y placer le nom du plan de SVOD créé dans Brightcove Beacon dans<code translate="No"> beacon.rights.&lt;</code>Champ Counter&gt;.packageName.
      </li>
      <li>
        Puisque vous utilisez un package, vous DEVEZ définir<code translate="No"> beacon.rights.&lt;counter&gt; .type</code> vers<strong> SVOD</strong>.
      </li>
      <li>
        Au bas de la<strong> section</strong> Quick Edit, cliquez sur le<strong> bouton</strong> Enregistrer.
      </li>
    </ol>
    {% if site.product_short == balise-fr/ %}
    <p>Les vidéos seront automatiquement intégrées à Beacon.</p>
    {% endif %}</section> {% if site.product_short == Beacon Classic-fr/ %} <section class="bcls-section">
    <h2 id="Ingesting_the_videos_into_Brightcove_Beacon"> Insertion des vidéos dans Brightcove Beacon </h2>
    <p>
      Vous avez maintenant associé une ou plusieurs vidéos à votre forfait SVOD. Vous devez maintenant intégrer ces associations dans Brightcove Beacon. Pour ce faire, procédez comme suit:
    </p>
    <ol class="bcls-tasklist-restart">
      <li>Connectez-vous à Brightcove Beacon.</li>
      <li>Cliquez sur l'icône en forme de clé (Outils).</li>
      <li>Dans le menu de navigation de gauche, cliquez sur<strong> Ingestion</strong>.</li>
      <li>Cliquez sur le<strong> bouton</strong> Mettre à jour les vidéos Brightcove.</li>
      <li>
        Si des erreurs sont signalées, vérifiez-les pour vous assurer qu'aucune n'est liée à votre forfait SVOD.
      </li>
      <li>
        Si vous souhaitez que les nouvelles associations soient immédiatement actives dans Brightcove Beacon, vous devez vider le cache actuel. Pour ce faire, dans le menu de navigation de gauche, cliquez sur<strong> Cache</strong>, puis sur Purge<strong> du cache</strong>.
      </li>
    </ol>
    <p>
      Pour plus de détails sur les actions entreprises dans cette section, consultez le<a href="/using-brightcove-beacon/tools.html"> document</a> Utilisation des outils.
    </p> </section> {% endif %} </article>